/*===========================
       basic stile
==========================*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Merriweather ;
}

/* modifie */

.contact,
.newsletter{
  padding: 50px 50px 35px 50px;
}
.newsletter,
.contact,
.flexform{
  display: flex;
  flex-direction: column;
}

.contact label{
  margin-bottom: 10px;
}

#zipcode{
  max-width: 50%;
}

input[placeholder="required"]{
  text-align: right;
  padding: 3px 8px;
  font-weight: bold;
}

footer p{
  text-align: center;
}
@media (min-width: 768px){

  body{
    width: 80%;
    margin: 0 auto;
  }

  .contact .flexform{
    display: flex;
    flex-direction: row;
  }

  .contact input, select{
    flex-grow: 1;
    flex-basis: 75%;
    margin-bottom: 10px;
  }

  .contact label{
    flex-basis: 25%;
    height: 50px;
    margin: auto 0;
}

#zipcode{
  max-width: 25%;

}
/* end modifie*/
h1{
  background-color: black;
  color: white;
}

h2{
  color: black;
}

header p{
  color: lightgrey;
}

header{
  border-bottom: 6px solid black;
  margin-bottom: 8px;

}

header,
.header h1,
.begin{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.begin{
  margin: 3px auto;
}

label{
    padding: 2px;
    margin: 1px;
}


}
.container{
  font-size: 1em;
}

input,
textarea,
select{
  background-color: lightgrey;
  border: 0;
  border-radius: 2px;

}


fieldset{
  border: 0;
  border-top: 3px solid black;

}

input[type="submit"]{
  background-color: #00cccc;
  padding: 6px 6px;
}
/*========================================
    layout web site flex
========================================*/
