/*===========================
       basic stile
==========================*/

h1{
  background-color: black;
  color: white;
}

h2{
  color: black;
}

header p{
  color: lightgrey;
}

header{
  border-bottom: 6px solid black;
  margin-bottom: 4px;
  text-align: center;
}

input,
textarea,
select{
  background-color: lightgrey;
  border: 0;
  border-radius: 2px;
}


fieldset{
  border: 0;
  border-top: 3px solid black;

}

input[type="submit"]{

}
/*========================================
    layout web site
========================================*/
