/*===========================
       basic stile
==========================*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Merriweather ;


}

h1{
  background-color: black;
  color: white;
  flex-grow: 1;
  height: 60px;
  padding: 5px;

}

.begin{
  height: 80px;
}

.begin h2,
.begin p{
  margin: 5px 0;
}

}

h2{
  color: black;
}

header p{
  color: lightgrey;
}

header{
  margin-bottom: 8px;

}

.header,
.begin{
  display: flex;
  flex-direction: column;
  text-align: center;

}

.begin{
  margin: 3px auto;
}

label{
    padding: 2px;
    margin: 1px;
}


}
.container{
  font-size: 1em;
}
header{
  padding:5px;/*bo*/
}

input,
textarea,
select{
  background-color: lightgrey;
  border: 0;
  border-radius: 2px;

}

fieldset{
  border: 0;
  border-top: 3px solid black;

}

input[type="submit"]{
  background-color: #00cccc;
  padding: 6px 6px;
}
/*========================================
    layout web site flex
========================================*/


.contact,
.newsletter{
  padding: 20px 20px 10px 20px;
}
.newsletter,
.contact,
.flexform{
  display: flex;
  flex-direction: column;
}

.begin{
  border-bottom: 3px solid black;
  padding: 2px;
}

.begin p{
  text-align: center;
}

.header{
  flex-grow: 1;

}
.contact,
.newsletter{
  border-top: 0;
  margin-top: 5px;
}

legend{
  font-weight: bold;
  font-size: 25px;
  padding: 3px;
}
.cont{
  border-top: 2px solid black;
}

.contact label{
  margin-bottom: 10px;
}

#zipcode{
  max-width: 50%;
}

input::placeholder {
    text-align: right;
    padding: 0 1.5em;
    font-style: italic;
    color: #9ca6b0 ;
}

footer p{
  text-align: center;
}
textarea:focus,
select:focus,
input[type="text"]:focus{
  background-color: white;
  border: black solid 2px;
}

@media (min-width: 768px){

  form,
  .begin{
      width: 60%;
      margin: 0 auto;
    }

  .contact .flexform{
    display: flex;
    flex-direction: row;
  }

  .contact input, select{
    flex-grow: 1;
    flex-basis: 75%;
    margin-bottom: 10px;
  }

  .contact label{
    flex-basis: 25%;
    height: 50px;
    margin: auto 0;
}

#zipcode{
  max-width: 25%;

}
